body{
  background-color:#D3F1DF;
  margin: 0px;
  padding: 0px;

}
.scorePage {
  text-align: center;
  background-color: #D3F1DF;
  border: 2px solid black;
  padding: 100px 10px;
  border-radius: 15px;
  margin: 100px;
}

.quiz {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #8dbd9b;
  width: 70%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quiz ul li {
  display: flex;
  align-items: center;
  border: 1px solid #85A98F;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ece7e6;
  width: 500px;
}

.quiz ul li.selected {
  background-color: #81BFDA;
  color: white;
}

.quiz button {
  padding: 10px;
  width: 300px;
  border-radius: 15px;
  background-color: #81BFDA;
  color: black;
  border: 1px solid #5A6C57;
}

.quiz button:hover {
  background-color: #D3F1DF;
  border: 1px solid #5A6C57;
  cursor: pointer;
}